.btnn {
    display : block;
    margin: 0 auto;

    border-radius: 6px;

    text-align: center;

    color: #ffffff;

    background-color: #f33f3f;;

    margin-bottom: 20px;

    padding: 7px 15px;

    border: 1px solid #f33f3f;

}
.btnn:hover{
    background-color: #121212;
    color: #fff;
    border: 1px solid #121212;
}